@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #132101;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;

}

.buscar,
.buscar::placeholder {
  background-color: #132101;
  color: #d7d7d7;
  
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background:#416317;
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #132101;
  color: #63eb14;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #63eb14;
}

#addCarrinho:disabled {
  background-color: #63eb14;
}

input.form-control:focus {
  box-shadow: none;
 
}

#frmNome {
  background-color: #4C6B22 !important;
  border-color: #4C6B22;
}

#frmEmail {
  background-color: #4C6B22 !important;
  border-color: #4C6B22;
}

.corLetra{
color:#547625
}

.corBotao{
background-color: #479116;
}


.corBotao:hover{
  background-color: #74a82a;
}

.custom-header {
  background-color: #4C6B22;
}

