@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");


@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .social-icons, .payment-icons {
    justify-content: center;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: #132101 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.buscar,
.buscar::placeholder {
  background-color: #132101;
  color: #d7d7d7;
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background: #416317;
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #132101 !important;
  color: #63eb14 !important;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #163604 !important;
}

#addCarrinho {
  background-color: #63eb14 !important;
}

#addCarrinho:disabled {
  background-color: #63eb14 !important;
}

input.form-control:focus {
  box-shadow: none;
}

.footer {
  background-color: #4A701C;
  color: #fff;
}

.footer-section h2,
.footer-section h3 {
  color: #ffffff;
}

.footer-section p,
.footer-section ul,
.footer-section li,
.footer-section a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.payment-icons img {
  height: 30px;
}

.footer-bottom {
  border-top: 1px solid #333;
  color: #aaa;
}

.login-page {
  background-color: #0f1b00;
}

.login-box {
  background-color: #111;
}

.login-title {
  color: #fff;
}

.login-msg {
  color: white;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


#frmNome {
  background-color: #4c6b22 !important;
  border-color: #4c6b22;
}

#frmEmail {
  background-color: #4c6b22 !important;
  border-color: #4c6b22;
}

.corLetra {
  color: #547625;
}

.corBotao {
  background-color: #479116 !important;
}

.corBotao:hover {
  background-color: #74a82a !important;
}

.custom-header {
  background-color: #4c6b22;
}


.cadastro{
  height: 510px;
  width: 500px;
  border-radius: 20px;
  transition: transform 0.2s;
  background:#4163173c;
}
.edicao {
  height: 60px;
  width: 200px;
  border-radius: 20px;
  border: #467111;


  

  transition: transform 0.2s;
  background: #46780525;
}
.textEdicao {
  color: #d9d9d9;
}
.textEditar {
  color: #d9d9d9;
  font-size: 14px;
}

.card-body {
  background-color: #4c6b22;
}

#carrinhoOffCanvas {
  background-color: #132101;
}

.headerCar {
  background-color: #4c6b22;
}

.cartoes{
  height: 500px;
  width: 500px;
  border-radius: 20px;
  transition: transform 0.2s;
  background:#4163173c;
}

.textcartao{
  color: #c8ffd24b;
  
}

.game-modal {
  background-color: #121212; /* cor de fundo principal do modal */
}

.game-cover {
  height: 250px;
  object-position: top;
}

.game-gradient {
  background: linear-gradient(to top, #416317, transparent);
}
.modelColor{
  background-color: #4c6b22 !important ;
}
.btn-success {
  background-color: #4CD930 !important;
  border: none;
}

.btn-success:hover {
  background-color: #5c9e2e;
}


