@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #132101 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;

}

.buscar,
.buscar::placeholder {
  background-color: #132101;
  color: #d7d7d7;
  
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background:#416317;
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #132101 !important;
  color: #63eb14 !important;
}

.corValor {
  color: #beeb14;
}

#addCarrinho:hover {
  background-color: #163604 !important;
}

#addCarrinho {
  background-color: #63eb14 !important;
}

#addCarrinho:disabled {
  background-color: #63eb14 !important;
}

input.form-control:focus {
  box-shadow: none;
 
}

#frmNome {
  background-color: #4C6B22 !important;
  border-color: #4C6B22;
}

#frmEmail {
  background-color: #4C6B22 !important;
  border-color: #4C6B22;
}

.corLetra{
color:#547625
}

.corBotao{
background-color: #479116 !important;
}


.corBotao:hover{
  background-color: #74a82a !important;
}

.custom-header {
  background-color: #4C6B22;
}


.perfil {
  height: 500px;
  width: 500px;
border-radius: 20px;
  transition: transform 0.2s;
  background:  #74a82a;
}
.edicao{ 
  height: 60px;
  width: 200px;
  border-radius: 20px;
  border: none;


  

  transition: transform 0.2s;
  background: linear-gradient(to bottom, #163604, #74a82a);
}
.textEdicao
{
  color: #d9d9d9;
 
}
.textEditar
{
  color: #d9d9d9;
  font-size: 14px;
 
}

.card-body{
  background-color: #4C6B22;
}

#carrinhoOffCanvas{
  background-color: #132101;
}

.headerCar{
  background-color: #4C6B22;
}

.Cartões{
  height: 500px;
  width: 500px;
border-radius: 20px;
  transition: transform 0.2s;
  background: linear-gradient(to bottom, #19587b, #2b87ae);
  
}

.button-color{
  background-color: #547625 !important;
}